/target/
/target*/
/userland/**/target/
*.bin
*.iso
*.img
*.ppm
*.png
*.log
*.pdb
*.exe
!.cargo/
!.cargo/config.toml
docs/ROADMAP.md
docs/HELIOX_INTEGRATION.md
REPORT.md
model.md
work.md

# Ignore custom certificate keys and intermediate files
userland/heliox-daemon/certs/*.key
userland/heliox-daemon/certs/*.pem
userland/heliox-daemon/certs/*.csr
userland/heliox-daemon/certs/*.srl
userland/heliox-daemon/certs/*.ext
